.card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &__img {
    max-width: 150px;
  }
  &__link {
    display: flex;
    justify-content: space-around;
    color: #000;
    width: 100%;
  }

}
